In [1]:
import pyreadr
import pandas as pd

In [2]:
M_06 = pd.read_csv('../../01_data/02_bibliometrix/06_dataframe_-_improved_affiliations.csv') # also works for RData

/home/ubd/Environments/bibliometry/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (6,7,8,9,10,11,17,22,32,39,55,60,66) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
M_06.head()

,Unnamed: 0,ID,AU,AF,CR,AR,BA,BE,BF,BN,...,pub_2014,pub_2015,pub_2016,pub_2017,pub_2018,pub_2019,pub_2020,Country_relative,res_areas,res_domains
0,1,1,EL HENDOUZI A;BOUROUHOU A,"EL HENDOUZI, ABDELHAKIM;BOUROUHOU, ABDENNASER","ABDEL-NASSER M, 2018, INT J INTERACT MULTI, V5...",8819925,NaN,NaN,NaN,NaN,...,202,228,357,442,537,594,543,15.970588,"Computer Science, Information Systems",Technology
1,2,1,EL HENDOUZI A;BOUROUHOU A,"EL HENDOUZI, ABDELHAKIM;BOUROUHOU, ABDENNASER","ABDEL-NASSER M, 2018, INT J INTERACT MULTI, V5...",8819925,NaN,NaN,NaN,NaN,...,202,228,357,442,537,594,543,15.970588,"Computer Science, Information Systems",Technology
2,3,2,SAYED DM;TAHA MM;GHANEM LG;EL-DEAB MS;ALLAM NK,"SAYED, DOHA M.;TAHA, MANAR M.;GHANEM, LOUJAIN ...","ABOUTALEBI SH, 2011, ENERG ENVIRON SCI, V4, P1...",NaN,NaN,NaN,NaN,NaN,...,407,522,703,731,970,1180,1344,6.165138,"Chemistry, Physical; Electrochemistry; Energy ...",Physical Sciences;Technology
3,4,2,SAYED DM;TAHA MM;GHANEM LG;EL-DEAB MS;ALLAM NK,"SAYED, DOHA M.;TAHA, MANAR M.;GHANEM, LOUJAIN ...","ABOUTALEBI SH, 2011, ENERG ENVIRON SCI, V4, P1...",NaN,NaN,NaN,NaN,NaN,...,407,522,703,731,970,1180,1344,6.165138,"Chemistry, Physical; Electrochemistry; Energy ...",Physical Sciences;Technology
4,5,3,DEBOUCHA H;MEKHILEF S;BELAID S;GUICHI A,"DEBOUCHA, HOUSSAM;MEKHILEF, SAAD;BELAID, SOFIA...","AHMAD R, 2019, RENEW SUST ENERG REV, V101, P82...",NaN,NaN,NaN,NaN,NaN,...,384,432,491,558,691,552,412,2.710526,"Engineering, Electrical & Electronic",Technology

Read grid org. names json file

In [4]:
grid = pd.read_json("../../01_data/05_org_names/grid.json")

In [5]:
grid.iloc[20,1]["addresses"]

[{'line_1': '',
  'line_2': '',
  'line_3': None,
  'lat': -27.470609,
  'lng': 153.022851,
  'postcode': '',
  'primary': False,
  'city': 'Brisbane',
  'state': 'Queensland',
  'state_code': 'AU-QLD',
  'country': 'Australia',
  'country_code': 'AU',
  'country_geonames_id': 2077456,
  'geonames_city': {'id': 2174003,
   'city': 'Brisbane',
   'nuts_level1': None,
   'nuts_level2': None,
   'nuts_level3': None,
   'geonames_admin1': {'id': 2152274,
    'name': 'Queensland',
    'ascii_name': 'Queensland',
    'code': 'AU.04'},
   'geonames_admin2': {'id': 7839562,
    'name': 'Brisbane',
    'ascii_name': 'Brisbane',
    'code': 'AU.04.31000'},
   'license': {'attribution': 'Data from geonames.org under a CC-BY 3.0 license',
    'license': 'http://creativecommons.org/licenses/by/3.0/'}}}]

The other way might me more practical

In [6]:
grid = pd.read_csv('../../01_data/05_org_names/grid.csv') 
institutes = pd.read_csv('../../01_data/05_org_names/full_tables/institutes.csv') 
addresses = pd.read_csv('../../01_data/05_org_names/full_tables/addresses.csv') 
geonames = pd.read_csv('../../01_data/05_org_names/full_tables/geonames.csv') 
aliases = pd.read_csv('../../01_data/05_org_names/full_tables/aliases.csv') 
labels = pd.read_csv('../../01_data/05_org_names/full_tables/labels.csv')
acronyms = pd.read_csv('../../01_data/05_org_names/full_tables/acronyms.csv')
external_ids = pd.read_csv('../../01_data/05_org_names/full_tables/external_ids.csv')
links = pd.read_csv('../../01_data/05_org_names/full_tables/links.csv')
relationships = pd.read_csv('../../01_data/05_org_names/full_tables/relationships.csv')
types = pd.read_csv('../../01_data/05_org_names/full_tables/types.csv')

In [7]:
grid.head()

,ID,Name,City,State,Country
0,grid.1001.0,Australian National University,Canberra,Australian Capital Territory,Australia
1,grid.1002.3,Monash University,Melbourne,Victoria,Australia
2,grid.1003.2,University of Queensland,Brisbane,Queensland,Australia
3,grid.1004.5,Macquarie University,Sydney,New South Wales,Australia
4,grid.1005.4,UNSW Sydney,Sydney,New South Wales,Australia

In [8]:
grid.loc[:, "Country"]

0              Australia
1              Australia
2              Australia
3              Australia
4              Australia
               ...
101632             India
101633             India
101634           Germany
101635         Australia
101636    United Kingdom
Name: Country, Length: 101637, dtype: object

#### Other than yield these ones do not seem to be useful, lets test with an example

In [9]:
test_org = M_06.loc[27, ["Organisation", "City","Country_names"]]
if test_org[2] in ["England", "Scotland", "Wales"]:
    test_org[2] = "United Kingdom"

In [10]:
sum(grid.loc[test_org[2] == grid.loc[:, "Country"], :].loc[:, "City"] == test_org[1])

0

In [11]:
test_org[1]

'S YORKSHIRE'

In [12]:
grid.loc[:, "City"] == "Yorkshire"

0         False
1         False
2         False
3         False
4         False
          ...
101632    False
101633    False
101634    False
101635    False
101636    False
Name: City, Length: 101637, dtype: bool

In [13]:
#  Importing libraries and module and some setting for notebookimport pandas as pd 
import re
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix
import sparse_dot_topn.sparse_dot_topn as ct  # Leading Juice for us
import time
pd.set_option('display.max_colwidth', -1)# reading dataset as df

<ipython-input-13-57a062929ecb>:8: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)# reading dataset as df

In [14]:
def ngrams(string, n=3):
    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]
# Testing ngrams work for verificationprint('All 3-grams in "Deluxroom":')
ngrams('Deluxroom')

['Del', 'elu', 'lux', 'uxr', 'xro', 'roo', 'oom']

In [15]:
M_06.loc[pd.isna(M_06["Organisation"]), "Organisation"] = ""  

orgs = [x for i,x in enumerate(M_06['Organisation']) if M_06.loc[i, 'Country_names'] == "Algeria"]
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams)
tf_idf_matrix = vectorizer.fit_transform(orgs)
grid_matrix = vectorizer.fit_transform([x for i,x in enumerate(grid["Name"]) if grid.loc[i, "Country"] == "Algeria"] )

In [16]:
print(grid_matrix[0])

  (0, 396)	0.23966531136630623
  (0, 727)	0.23966531136630623
  (0, 784)	0.22029360051789074
  (0, 529)	0.22029360051789074
  (0, 163)	0.22029360051789074
  (0, 944)	0.22029360051789074
  (0, 733)	0.23966531136630623
  (0, 524)	0.23966531136630623
  (0, 162)	0.23966531136630623
  (0, 14)	0.34686598901996557
  (0, 1102)	0.23966531136630623
  (0, 916)	0.23966531136630623
  (0, 409)	0.19588813114537834
  (0, 136)	0.23966531136630623
  (0, 3)	0.20654915293814455
  (0, 567)	0.19588813114537834
  (0, 881)	0.10430424434623596
  (0, 108)	0.10430424434623596
  (0, 1160)	0.11531786196473635
  (0, 1098)	0.11190380151882455
  (0, 714)	0.10430424434623596
  (0, 1033)	0.08309474855724495
  (0, 999)	0.08309474855724495
  (0, 553)	0.08220170353657465
  (0, 1151)	0.08309474855724495
  (0, 716)	0.08309474855724495
  (0, 859)	0.08309474855724495
  (0, 310)	0.08309474855724495

In [17]:
def awesome_cossim_top(A, B, ntop, lower_bound=0):
    # force A and B as a CSR matrix.
    # If they have already been CSR, there is no overhead
    A = A.tocsr()
    B = B.tocsr()
    M, _ = A.shape
    _, N = B.shape
 
    idx_dtype = np.int32
 
    nnz_max = M*ntop
 
    indptr = np.zeros(M+1, dtype=idx_dtype)
    indices = np.zeros(nnz_max, dtype=idx_dtype)
    data = np.zeros(nnz_max, dtype=A.dtype)
    ct.sparse_dot_topn(
        M, N, np.asarray(A.indptr, dtype=idx_dtype),
        np.asarray(A.indices, dtype=idx_dtype),
        A.data,
        np.asarray(B.indptr, dtype=idx_dtype),
        np.asarray(B.indices, dtype=idx_dtype),
        B.data,
        ntop,
        lower_bound,
        indptr, indices, data)
    return csr_matrix((data,indices,indptr),shape=(M,N))

In [ ]:
#  Top 10 with similarity above 0.8
t1 = time.time()
matches = awesome_cossim_top(tf_idf_matrix, grid_matrix, 10, 0.5)
t = time.time()-t1
print("SELFTIMED:", t)

In [ ]:
# unpacks the resulting sparse matrix
def get_matches_df(sparse_matrix, name_vector, top=100):
    non_zeros = sparse_matrix.nonzero()
    
    sparserows = non_zeros[0]
    sparsecols = non_zeros[1]
    
    if top:
        nr_matches = top
    else:
        nr_matches = sparsecols.size
    
    left_side = np.empty([nr_matches], dtype=object)
    right_side = np.empty([nr_matches], dtype=object)
    similairity = np.zeros(nr_matches)
    
    for index in range(0, nr_matches):
        left_side[index] = name_vector[sparserows[index]]
        right_side[index] = name_vector[sparsecols[index]]
        similairity[index] = sparse_matrix.data[index]
    
    return pd.DataFrame({'left_side': left_side,
                          'right_side': right_side,
                           'similairity': similairity})

In [ ]:
# store the  matches into new dataframe called matched_df and 
# printing 10 samples
matches_df = get_matches_df(matches, orgs, top=200)
matches_df = matches_df[matches_df['similairity'] < 0.99999] # For removing all exact matches
matches_df.sample(10)

In [ ]:
print(matches)

In [ ]:
grid["Name"]